.upcomingEventsSection {
  @apply text-center;
}

.upcomingEventsSection > * {
  @apply my-8;
}

.upcomingEventsSection h2 {
  @apply text-wixColor24;
  @apply uppercase;
  @apply font-bold;

  font-size: 35px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  letter-spacing: 0.2em;
}

.upcomingEventsSection h5 a {
  @apply underline;
}
@screen sm {
  .upcomingEvents {
    @apply flex;
    @apply justify-center;
    @apply justify-items-center;
  }
}

.upcomingEvent {
  @apply flex;
  @apply flex-col;
  @apply my-8;
  @apply px-8;

  @apply border-wixColor31;
}
@screen sm {
  .upcomingEvent {
    @apply border-l;
  }
}

.upcomingEvent:first-child {
  @apply border-0;
}

.upcomingEvent h5 {
  @apply text-wixColor24;
  @apply font-bold;
  @apply leading-none;

  font-size: 26px;
  letter-spacing: 0.2em;
}

.upcomingEvent p {
  @apply flex-1;
  @apply my-4;
}

.upcomingEvent div a {
  @apply text-wixColor33;
  @apply uppercase;

  transition: color 0.4s ease 0s;
  font-size: 12px;
}
.upcomingEvent div a:hover {
  @apply text-wixColor25;
}

.newsSection {
  @apply overflow-x-hidden;
  @apply text-center;
}
.newsSection > * {
  @apply my-8;
}
.newsSection h2 {
  @apply text-wixColor24;
  @apply uppercase;
  @apply font-bold;

  font-size: 35px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  letter-spacing: 0.2em;
}

.news {
  @apply container;
  @apply text-center;
  @apply relative;
  @apply mx-auto;
  @apply px-4;
}
.news > div {
  @apply my-8;
  @apply flex;
  @apply flex-col;
}
@screen md {
  .news {
    @apply flex;
    @apply space-x-4;
  }
  .news > div {
    @apply flex-1;
  }
}

.news h6 {
  @apply text-wixColor25;
  @apply font-bold;
  @apply leading-none;
  @apply uppercase;
  @apply font-serif;

  font-size: 18px;
  letter-spacing: 0.2em;
}

.newsContent {
  @apply p-8;
  @apply flex-1;
  @apply flex;
  @apply flex-col;

  @apply bg-wixColor31;
  --tw-bg-opacity: 0.19;
}

.newsContent > hr {
  @apply my-8;
  @apply w-16;
  @apply border;
  @apply mx-auto;

  @apply border-wixColor15;
}

.newsContent > p {
  @apply flex-1;
}

.newsContent div {
  @apply mt-8;
}

.newsContent div a {
  @apply text-wixColor33;
  @apply uppercase;

  transition: color 0.4s ease 0s;
  font-size: 12px;
}

.newsContent div a:hover {
  @apply text-wixColor25;
}

.newsImage {
  height: 192px;
}

.newsImage img {
  @apply object-cover;
  @apply h-full;
  @apply w-full;
}

@screen sm {
  .newsImage {
    height: 24vw;
  }
}
