.form {
  @apply font-sans;

  font-size: 12px;
  line-height: 15px;
}

.formDisabled {
  composes: form;
  @apply opacity-50;
}

.formSuccess {
  composes: form;
  @apply opacity-0;
}

.form label {
  @apply block;
  @apply my-4;
}

.form input ,
.form textarea {
  @apply border-2;
  @apply bg-white;
  @apply w-full;
  @apply p-2;
  @apply border-black;
  @apply text-black;
}

.form input::placeholder ,
.form textarea::placeholder {
  @apply text-wixColor15;
}

.submitButton {
  @apply block;
  @apply text-center;
  @apply w-full;
  @apply p-2;
  @apply bg-black;
  @apply text-white;
}

.successOverlay {
  @apply absolute;
  @apply inset-0;
}

.successOkButton {
  @apply inline-block;
  @apply text-center;
  @apply py-2;
  @apply px-12;

  @apply bg-black;
  @apply text-white;
}
