.shadowImage {
  margin-bottom: 24px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 0px;
  position: relative;
}

.shadowImage::before, .shadowImage::after {
  content: "";
  position: absolute;
  bottom: -26px;
  width: 165px;
  height: 26px;
  background-image: url('/images/wix/shadow-image.png');
  background-repeat: no-repeat;
}

.shadowImage::before {
  left: -20px;
  background-position: 0 0;
}

.shadowImage::after {
  right: -20px;
  background-position: 100% 0;
}
